In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# First, look at everything.
from subprocess import check_output

In [2]:
#  Pick a Dataset you might be interested in.
#  Say, all airline-safety files...
import zipfile

Dataset = "college-majors"

# Will unzip the files so that you can see them..
with zipfile.ZipFile("../input/data/"+Dataset+".zip","r") as z:
    z.extractall(".")

In [3]:
from subprocess import check_output
print(check_output(["ls", "college-majors"]).decode("utf8"))

all-ages.csv
grad-students.csv
majors-list.csv
recent-grads.csv
women-stem.csv

In [4]:
# There's only one file above...we'll select it.
students=pd.read_csv(Dataset+"/grad-students.csv")
students.head()

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,...,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium
0,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,9173,200,7098,6511,681,0.087543,75000.0,...,86062,73607,62435,3928,0.050661,65000.0,47000,98000.0,0.096320,0.153846
1,6004,COMMERCIAL ART AND GRAPHIC DESIGN,Arts,53864,882,40492,29553,2482,0.057756,60000.0,...,461977,347166,250596,25484,0.068386,48000.0,34000,71000.0,0.104420,0.250000
2,6211,HOSPITALITY MANAGEMENT,Business,24417,437,18368,14784,1465,0.073867,65000.0,...,179335,145597,113579,7409,0.048423,50000.0,35000,75000.0,0.119837,0.300000
3,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,5411,72,3590,2701,316,0.080901,47000.0,...,37575,29738,23249,1661,0.052900,41600.0,29000,60000.0,0.125878,0.129808
4,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,9109,171,7512,5622,466,0.058411,57000.0,...,53819,43163,34231,3389,0.072800,52000.0,36000,78000.0,0.144753,0.096154

## Info de las columnas

Se muestra la informacion con info()

In [5]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Major_code                    173 non-null    int64
 1   Major                         173 non-null    object
 2   Major_category                173 non-null    object
 3   Grad_total                    173 non-null    int64
 4   Grad_sample_size              173 non-null    int64
 5   Grad_employed                 173 non-null    int64
 6   Grad_full_time_year_round     173 non-null    int64
 7   Grad_unemployed               173 non-null    int64
 8   Grad_unemployment_rate        173 non-null    float64
 9   Grad_median                   173 non-null    float64
 10  Grad_P25                      173 non-null    int64
 11  Grad_P75                      173 non-null    float64
 12  Nongrad_total                 173 non-null    int64
 13  Nongrad_employed              173 non-null    int64
 14  Nongrad_full_time_year_round  173 non-null    int64
 15  Nongrad_unemployed            173 non-null    int64
 16  Nongrad_unemployment_rate     173 non-null    float64
 17  Nongrad_median                173 non-null    float64
 18  Nongrad_P25                   173 non-null    int64
 19  Nongrad_P75                   173 non-null    float64
 20  Grad_share                    173 non-null    float64
 21  Grad_premium                  173 non-null    float64
dtypes: float64(8), int64(12), object(2)
memory usage: 29.9+ KB

### Descripcion de cada una

- 


---

### Resumen del dataset con tail y head

Se muestran las primeras 5 y ultimas 5 filas del dataset, tambien se muestra el shape del mismo

In [6]:
students.head()

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,...,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium
0,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,9173,200,7098,6511,681,0.087543,75000.0,...,86062,73607,62435,3928,0.050661,65000.0,47000,98000.0,0.096320,0.153846
1,6004,COMMERCIAL ART AND GRAPHIC DESIGN,Arts,53864,882,40492,29553,2482,0.057756,60000.0,...,461977,347166,250596,25484,0.068386,48000.0,34000,71000.0,0.104420,0.250000
2,6211,HOSPITALITY MANAGEMENT,Business,24417,437,18368,14784,1465,0.073867,65000.0,...,179335,145597,113579,7409,0.048423,50000.0,35000,75000.0,0.119837,0.300000
3,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,5411,72,3590,2701,316,0.080901,47000.0,...,37575,29738,23249,1661,0.052900,41600.0,29000,60000.0,0.125878,0.129808
4,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,9109,171,7512,5622,466,0.058411,57000.0,...,53819,43163,34231,3389,0.072800,52000.0,36000,78000.0,0.144753,0.096154

In [7]:
students.tail()

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,...,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium
168,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,51812,724,38468,28808,1420,0.035600,50000.0,...,16781,12377,8502,835,0.063200,40000.0,25000,50000.0,0.755354,0.250000
169,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,22716,355,16612,12022,782,0.044958,70000.0,...,6519,4368,3033,357,0.075556,46000.0,30000,70000.0,0.777014,0.521739
170,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,Health,114971,1766,78132,58825,1732,0.021687,135000.0,...,26320,16221,12185,1012,0.058725,51000.0,35000,87000.0,0.813718,1.647059
171,2303,SCHOOL STUDENT COUNSELING,Education,19841,260,11313,8130,613,0.051400,56000.0,...,2232,1328,980,169,0.112892,42000.0,27000,51000.0,0.898881,0.333333
172,2301,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,54159,841,34142,26850,582,0.016761,65000.0,...,4003,3079,2434,0,0.000000,58000.0,45000,79000.0,0.931175,0.120690

In [8]:
students.shape

(173, 22)

### Cantidad de valores nulos por columna

In [9]:
students.isnull().sum()

Major_code                      0
Major                           0
Major_category                  0
Grad_total                      0
Grad_sample_size                0
Grad_employed                   0
Grad_full_time_year_round       0
Grad_unemployed                 0
Grad_unemployment_rate          0
Grad_median                     0
Grad_P25                        0
Grad_P75                        0
Nongrad_total                   0
Nongrad_employed                0
Nongrad_full_time_year_round    0
Nongrad_unemployed              0
Nongrad_unemployment_rate       0
Nongrad_median                  0
Nongrad_P25                     0
Nongrad_P75                     0
Grad_share                      0
Grad_premium                    0
dtype: int64

In [10]:
grouped_by_major = students.groupby("Major").count()
grouped_by_category = students.groupby("Major_category").count()

No tiene sentido el histograma en ninguna de las dos
[link util](https://es.gadget-info.com/difference-between-histogram)

In [11]:
grouped_by_major["Major_category"]

Major
ACCOUNTING                                  1
ACTUARIAL SCIENCE                           1
ADVERTISING AND PUBLIC RELATIONS            1
AEROSPACE ENGINEERING                       1
AGRICULTURAL ECONOMICS                      1
                                           ..
TRANSPORTATION SCIENCES AND TECHNOLOGIES    1
TREATMENT THERAPY PROFESSIONS               1
UNITED STATES HISTORY                       1
VISUAL AND PERFORMING ARTS                  1
ZOOLOGY                                     1
Name: Major_category, Length: 173, dtype: int64

In [12]:
grouped_by_category["Major_code"]

Major_category
Agriculture & Natural Resources        10
Arts                                    8
Biology & Life Science                 14
Business                               13
Communications & Journalism             4
Computers & Mathematics                11
Education                              16
Engineering                            29
Health                                 12
Humanities & Liberal Arts              15
Industrial Arts & Consumer Services     7
Interdisciplinary                       1
Law & Public Policy                     5
Physical Sciences                      10
Psychology & Social Work                9
Social Science                          9
Name: Major_code, dtype: int64

In [13]:
description = students.describe()
description.drop(["count", "std", "min", "max"], inplace=True, axis='index')
description

,Major_code,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,Grad_P25,Grad_P75,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium
mean,3879.815029,127672.023121,2250.872832,94037.034682,72861.184971,3506.427746,0.039343,76755.780347,52596.508671,112087.34104,214720.312139,154553.520231,120736.820809,8486.323699,0.053947,58583.815029,40078.179191,84332.947977,0.400595,0.328505
25%,2403.000000,15284.000000,314.000000,12659.000000,9894.000000,453.000000,0.026068,65000.000000,45000.000000,93000.00000,20564.000000,15914.000000,11755.000000,880.000000,0.041981,48700.000000,34000.000000,72000.000000,0.267567,0.230769
50%,3608.000000,37872.000000,688.000000,28930.000000,22523.000000,1179.000000,0.036654,75000.000000,50000.000000,108000.00000,68993.000000,50092.000000,38384.000000,3157.000000,0.051031,55000.000000,38000.000000,80000.000000,0.398745,0.320755
75%,5503.000000,148255.000000,2528.000000,109944.000000,80794.000000,3329.000000,0.048051,90000.000000,60000.000000,130000.00000,184971.000000,129179.000000,103629.000000,7409.000000,0.064387,65000.000000,44000.000000,97000.000000,0.499117,0.400000

In [14]:
#agrego iqr
description = description.transpose()
description["iqr"] = description["75%"] - description["25%"]

description.rename(columns={'50%': 'median'}, inplace=True)

description

,mean,25%,median,75%,iqr
Major_code,3879.815029,2403.000000,3608.000000,5503.000000,3100.000000
Grad_total,127672.023121,15284.000000,37872.000000,148255.000000,132971.000000
Grad_sample_size,2250.872832,314.000000,688.000000,2528.000000,2214.000000
Grad_employed,94037.034682,12659.000000,28930.000000,109944.000000,97285.000000
Grad_full_time_year_round,72861.184971,9894.000000,22523.000000,80794.000000,70900.000000
Grad_unemployed,3506.427746,453.000000,1179.000000,3329.000000,2876.000000
Grad_unemployment_rate,0.039343,0.026068,0.036654,0.048051,0.021983
Grad_median,76755.780347,65000.000000,75000.000000,90000.000000,25000.000000
Grad_P25,52596.508671,45000.000000,50000.000000,60000.000000,15000.000000
Grad_P75,112087.341040,93000.000000,108000.000000,130000.000000,37000.000000
Nongrad_total,214720.312139,20564.000000,68993.000000,184971.000000,164407.000000
Nongrad_employed,154553.520231,15914.000000,50092.000000,129179.000000,113265.000000
Nongrad_full_time_year_round,120736.820809,11755.000000,38384.000000,103629.000000,91874.000000
Nongrad_unemployed,8486.323699,880.000000,3157.000000,7409.000000,6529.000000
Nongrad_unemployment_rate,0.053947,0.041981,0.051031,0.064387,0.022406
Nongrad_median,58583.815029,48700.000000,55000.000000,65000.000000,16300.000000
Nongrad_P25,40078.179191,34000.000000,38000.000000,44000.000000,10000.000000
Nongrad_P75,84332.947977,72000.000000,80000.000000,97000.000000,25000.000000
Grad_share,0.400595,0.267567,0.398745,0.499117,0.231550
Grad_premium,0.328505,0.230769,0.320755,0.400000,0.169231

In [15]:
modes = students.mode(axis='index', numeric_only=True).transpose()

description["mode"] = modes[0]

description = description.transpose().drop("Major_code", axis='columns')

description

,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,Grad_P25,Grad_P75,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium
mean,127672.023121,2250.872832,94037.034682,72861.184971,3506.427746,0.039343,76755.780347,52596.508671,112087.34104,214720.312139,154553.520231,120736.820809,8486.323699,0.053947,58583.815029,40078.179191,84332.947977,0.400595,0.328505
25%,15284.000000,314.000000,12659.000000,9894.000000,453.000000,0.026068,65000.000000,45000.000000,93000.00000,20564.000000,15914.000000,11755.000000,880.000000,0.041981,48700.000000,34000.000000,72000.000000,0.267567,0.230769
median,37872.000000,688.000000,28930.000000,22523.000000,1179.000000,0.036654,75000.000000,50000.000000,108000.00000,68993.000000,50092.000000,38384.000000,3157.000000,0.051031,55000.000000,38000.000000,80000.000000,0.398745,0.320755
75%,148255.000000,2528.000000,109944.000000,80794.000000,3329.000000,0.048051,90000.000000,60000.000000,130000.00000,184971.000000,129179.000000,103629.000000,7409.000000,0.064387,65000.000000,44000.000000,97000.000000,0.499117,0.400000
iqr,132971.000000,2214.000000,97285.000000,70900.000000,2876.000000,0.021983,25000.000000,15000.000000,37000.00000,164407.000000,113265.000000,91874.000000,6529.000000,0.022406,16300.000000,10000.000000,25000.000000,0.231550,0.169231
mode,1542.000000,98.000000,1008.000000,770.000000,112.000000,0.000000,65000.000000,50000.000000,100000.00000,2232.000000,1328.000000,980.000000,0.000000,0.000000,50000.000000,35000.000000,75000.000000,0.096320,0.333333