Introduction
------------

This is a quick way to look at the different Datasets....

In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt

# First, look at everything.
from subprocess import check_output
print(check_output(["ls", "../input/data"]).decode("utf8"))

college-majors.zip

In [2]:
#  Pick a Dataset you might be interested in.
#  Say, all airline-safety files...
import zipfile

Dataset = "college-majors"

# Will unzip the files so that you can see them..
with zipfile.ZipFile("../input/data/"+Dataset+".zip","r") as z:
    z.extractall(".")

In [3]:
from subprocess import check_output

print(check_output(["ls", "college-majors"]).decode("utf8"))

all-ages.csv
grad-students.csv
majors-list.csv
recent-grads.csv
women-stem.csv

In [4]:
#students
students=pd.read_csv(Dataset+"/grad-students.csv")
students.head()

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,...,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium
0,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,9173,200,7098,6511,681,0.087543,75000.0,...,86062,73607,62435,3928,0.050661,65000.0,47000,98000.0,0.096320,0.153846
1,6004,COMMERCIAL ART AND GRAPHIC DESIGN,Arts,53864,882,40492,29553,2482,0.057756,60000.0,...,461977,347166,250596,25484,0.068386,48000.0,34000,71000.0,0.104420,0.250000
2,6211,HOSPITALITY MANAGEMENT,Business,24417,437,18368,14784,1465,0.073867,65000.0,...,179335,145597,113579,7409,0.048423,50000.0,35000,75000.0,0.119837,0.300000
3,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,5411,72,3590,2701,316,0.080901,47000.0,...,37575,29738,23249,1661,0.052900,41600.0,29000,60000.0,0.125878,0.129808
4,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,9109,171,7512,5622,466,0.058411,57000.0,...,53819,43163,34231,3389,0.072800,52000.0,36000,78000.0,0.144753,0.096154

In [5]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Major_code                    173 non-null    int64
 1   Major                         173 non-null    object
 2   Major_category                173 non-null    object
 3   Grad_total                    173 non-null    int64
 4   Grad_sample_size              173 non-null    int64
 5   Grad_employed                 173 non-null    int64
 6   Grad_full_time_year_round     173 non-null    int64
 7   Grad_unemployed               173 non-null    int64
 8   Grad_unemployment_rate        173 non-null    float64
 9   Grad_median                   173 non-null    float64
 10  Grad_P25                      173 non-null    int64
 11  Grad_P75                      173 non-null    float64
 12  Nongrad_total                 173 non-null    int64
 13  Nongrad_employed              173 non-null    int64
 14  Nongrad_full_time_year_round  173 non-null    int64
 15  Nongrad_unemployed            173 non-null    int64
 16  Nongrad_unemployment_rate     173 non-null    float64
 17  Nongrad_median                173 non-null    float64
 18  Nongrad_P25                   173 non-null    int64
 19  Nongrad_P75                   173 non-null    float64
 20  Grad_share                    173 non-null    float64
 21  Grad_premium                  173 non-null    float64
dtypes: float64(8), int64(12), object(2)
memory usage: 29.9+ KB